let mapleader=" "

map <leader>r <Action>(RenameElement)

map gr <Action>(FindUsages)
map gs <Action>(FileStructurePopup)
map gne <Action>(ReSharperGotoNextErrorInSolution)

map sb <Action>(ToggleLineBreakpoint)
map sr <Action>(Resume)
map se <Action>(StepOver)
map st <Action>(StepInto)
map s <Nop>

map <A-v> <C-v>